SSO Integration with ADFS 4.0 using OAuth 2 and OpenID

## Issue
Hi having issues trying to integrate SSO for wekan using ADFS 4.0 using Oauth 2 and OpenID
using Wekan Version 4.15.0 running on a docker image.  The issue I am having is by default ADFS responds only with the  "sub" claim back to Wekan as seen in the token below 

![image](https://user-images.githubusercontent.com/67110992/85036414-0a97c100-b17c-11ea-94ce-e8350c7df062.png)

Wekan OAuth2 config
OAUTH2_ENABLED=true
OAUTH2_CLIENT_ID=****************
OAUTH2_SECRET=*************************
OAUTH2_SERVER_URL=https://*******
OAUTH2_AUTH_ENDPOINT=adfs/oauth2/authorize
OAUTH2_USERINFO_ENDPOINT=adfs/oauth2/userinfo
OAUTH2_TOKEN_ENDPOINT=adfs/oauth2/token
OAUTH2_ID_MAP=sub
OAUTH2_USERNAME_MAP=sub
OAUTH2_FULLNAME_MAP=commonname
OAUTH2_EMAIL_MAP=email

If I modify ADFS to send additional claims back to Wekan i can see the additional claims in the token in the wekan logs however it generates failed to fetch a userinfo from OIDC shown below

![image](https://user-images.githubusercontent.com/67110992/85038497-8bf05300-b17e-11ea-8366-216287806c1e.png)

Has anyone managed to get on premise ADFS authenticating SSO requests for Wekan using OAuth2 any help or guidance would be much appreciated.
-- | --





Hello @richardswekan have you floun the solution?  same as you I need to configure ADFS with wekan , I don't have Idea how it will be integrated using Auth02 protocol, I see that you go further can you share the knowledge please :) I really appreciate it.

Is this something similar like at Azure, where I tested that login works?
https://github.com/wekan/wekan/wiki/Azure

Hi

Unfortunately i can't seem to get any further than the errors that i
posted.if i could help further i would.

Regards.






On Thu, 16 Jul 2020 at 10:17, Nour A Alghamdi <notifications@github.com>
wrote:

> Hello @richardswekan <https://github.com/richardswekan> have you floun
> the solution? same as you I need to configure ADFS with wekan , I don't
> have Idea how it will be integrated using Auth02 protocol, I see that you
> go further can you share the knowledge please :) I really appreciate it.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/wekan/wekan/issues/3184#issuecomment-659284538>, or
> unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AQAAQUDTX6LAYL66IUZGR3TR33AULANCNFSM4OB3ZFSA>
> .
>


It's similar however the Azure config does not work with on premise ADFS
4.0. I see SAML is on the roadmap for Wekan ADFS supports SAML any ideas
when this will be implemented?

Regards

On Thu, 16 Jul 2020 at 13:48, Lauri Ojansivu <notifications@github.com>
wrote:

> Is this something similar like at Azure, where I tested that login works?
> https://github.com/wekan/wekan/wiki/Azure
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/wekan/wekan/issues/3184#issuecomment-659388318>, or
> unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AQAAQUAFHX3BUDCP3GAIGP3R33ZIZANCNFSM4OB3ZFSA>
> .
>


@richardswekan 

There are still [some that need to be fixed and implemented before adding SAML](https://boards.wekan.team/b/D2SzJKZDS4Z48yeQH/wekan-open-source-kanban-board-with-mit-license/w75Eo7yS9vtBWPxbz). I would guess "ASAP" or sometime this year.

Sorry might be a bit of topic.

ive been testing this out on my server 2019 adfs, creating an application group for wekan, OIDC with oauth2.
The redirect_uri from wekan contains a wildcard. 

reading 
https://docs.microsoft.com/sv-se/azure/active-directory/develop/reply-url  wich relates to https://tools.ietf.org/html/rfc6749#section-3.1.2

""The redirection endpoint URI MUST be an absolute URI as defined by [RFC3986] Section 4.3.""

so how do i get rid of that ---->>  wekan/_oauth/oidc?close

else iam sure everything should work. if i get back the claims and can map them.



@phaseshift3r 

Do you mean that redirect-url?
https://github.com/wekan/wekan/wiki/Azure#snap-install-info-tested-2020-07-07

Hi wow thanks, that was quick!. damn i feel a shame, blinded!. i found my problem. the root url didnt have https. All i saw in the windows server eventlog was "Recived invalid OAuth authorization request . The recived Authorization_Uri parameter is not a valid registered redirect uri for the client indentifier". and i was stuck on not being able to add that redirect uri with the questionmark and close parameter in allowed redirect_uri adress in the application group in active directory federation service, as they pointed there must be an absolute uri. 

but yes it was that url i meant. Thanks

richardswekan Did you get a hang on those custom claims? Found the following and some additional microsoft parameter you had to post in the request auth 

https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-oapx/8a7cfad6-e6d6-465d-8624-c0056677e262

But i was unsuccessfull figuring out how i would get the access to the requested scope  Userinfo endpoint failed 

https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/overview/ad-fs-faq#i-am-trying-to-get-additional-claims-on-the-user-info-endpoint-but-its-only-returning-subject-how-can-i-get-additional-claims




@phaseshift3r 

I don't know are you aware of this, but anyway, for example when there is this URL:
```
OAUTH2_SERVER_URL=https://example.com/
OAUTH2_AUTH_ENDPOINT=adfs/oauth2/authorize
```
Here it's important that there is `/` at the rightmost end of example.com, because settigs are combined like this:
```
OAUTH2_SERVER_URL + OAUTH2_AUTH_ENDPOINT = https://example.com/adfs/oauth2/authorize
```
Alternative way to have that `/` in different place would be:
```
OAUTH2_SERVER_URL=https://example.com
OAUTH2_AUTH_ENDPOINT=/adfs/oauth2/authorize
```

Yeah i poked around in the code. Thanks.  Its adfs thats has the issue. Used postman adding that extra param when i requested the auth token. And when finally geting the userinfo url in the final step the tracing in adfs claims that i dont have permission to access those scopes.  Ms saying they are following the standard and only returning subject at the userinfo endpoint and that by adding custom claims And scope allatclaims you get them in the auth token at the stage earlier and not at the userinfo endpoint.  Sorry Will try to verifiera and write my findings a bit better tomorrow.   

@phaseshift3r 

Thanks! If you need some changes to Wekan code to get it working, you can submit pull request.

For example, something like `ADFS_ENABLED=true`, or other settings, similar like in this commit https://github.com/wekan/wekan/commit/7e4b791c2964f4b130abbaee62ffdff1536450c4

In ADFS on premise
userinfo endpoint will always return a sub so i think that wekan if doing openid with adfs gotta take the properties from the access_token directly.

Ive created a new Application Group
![1](https://user-images.githubusercontent.com/24808427/92734736-18bf3d00-f379-11ea-965f-3d21a536cd3d.png)

![2](https://user-images.githubusercontent.com/24808427/92734823-2c6aa380-f379-11ea-8014-326d982393a7.png)

The client id is needed later, redirect uri should be that of wekan but at this point to see with postman.

![3](https://user-images.githubusercontent.com/24808427/92734899-3be9ec80-f379-11ea-8139-2c3e64f63cd0.png)

there is a client secret.






[ADFS OIDC.pdf](https://github.com/wekan/wekan/files/5201991/ADFS.OIDC.pdf)


That is where i got up to and could not proceed any further was going to look at using AD Azure as the frontend seen as its supported and then passing it back via ADFS to authenticate on premise from there but not had chance to test it out yet. 

https://docs.microsoft.com/en-us/answers/questions/3484/mix-adfs-and-azure-ad-pta.html#:~:text=Based%20on%20the%20UPN%20suffix,finally%20get%20access%20to%20application.

@richardswekan @xet7 

Okay got it working!. i cant figure out how to do a pull request... HELP =), 
as i dont have an connected development environment. 

Do i need to create my own repo?

adding an Environment variable perhaps should another name be good. like dontUseUserInfo
OAUTH2_ADFS=true

adding a simple if else in
/opt/Wekan/programs/server/packages/Wekan-oidc.js

at line 35.

var userinfo // define outside scope
if(process.env.OAUTH2_ADFS)
{
      // using adfs with custom claims in the access_token
      userinfo = getTokenContent(accessToken);
}
else
{
      // not using adfs, normal behaviour....
      userinfo = getUserInfo(accessToken);
}


simple as that...  no change to rest of code as it can find the mapping params based on the environment variables.



sorry for spamming here. think ive gotten the pull request done. 

There is now these settings.

## Snap
```
sudo snap set oauth2-adfs-enabled='true'
```
Unset:
```
sudo snap unset oauth2-adfs-enabled
```
## Docker and .sh/.bat
```
OAUTH2_ADFS_ENABLED=true
```
To disable, uncomment or remove that line.


@xet7 @phaseshift3r 

hello all, 
is it supporting ADFS On prem? 

@namacoconut 

Where else ADFS could be? Anyway, you can try.

@xet7 i see that it is for ADFS Azure! means cloud hosted!

@namacoconut 

It is samel OIDC/OAuth2 login that is used for many identity providers, like:
- https://github.com/wekan/wekan/wiki/Azure
- https://github.com/wekan/wekan/wiki/Google-login
- https://github.com/wekan/wekan/wiki/Nextcloud
- RocketChat, Auth0 etc https://github.com/wekan/wekan/wiki/OAuth2

Those use same way to login both at cloud and on premise with OIDC/OAuth2, using OIDC button.

In those settings server URL, mappings etc is configured.

The only difference to those settings is these new settings https://github.com/wekan/wekan/issues/3184#issuecomment-691674061 that enable ADFS specific changes. So it should also work on ADFS on premise, if it means same kind of ADFS login.

Also, there are these login options too:
- https://github.com/wekan/wekan/wiki/LDAP
- https://github.com/wekan/wekan/wiki/SAML (not tested yet, brand new)
- https://github.com/wekan/wekan/wiki/CAS (not tested yet, brand new)

> @xet7 @phaseshift3r
> 
> hello all,
> is it supporting ADFS On prem?

Yeah. Got it to work there.  The on premise adfs userinfo endpoint only returns subject.  


But you get all custom claims in the access token.  

@phaseshift3r 
another question , Do I need to be registered account for oauth2? I was reading about it , I can't get account there it's not allowed, So I said ok , I'll test SAML configuration in this link:
https://github.com/wekan/wekan/wiki/SAML 

but honestly I don't know where to get these parameters ! any one has better explanation! :)

@namacoconut if you look a bit up in the comments i created a pdf with my adfs configuration for wekan


Wekan just adds the user with the claims values.  So you get an ”on boarding”

Yes, SAML and CAS would need someone that knows what those settings are, and for that someone to add comment about what is still missing. I don't have any SAML or CAS server.

I knew where to find these parameters in saml , i'll try to apply what I have and if it works I'll share with you ☺️

Thanks!

I'm interested about:

1) If SAML is enabled, is there SAML button visible at https://wekan.example.com/sign-in ? Screenshot? If not, should some button be added to https://github.com/wekan/wekan/tree/master/client/components/main layouts.jade and layouts.js ?

2) Are there enough authentication settings [here](https://github.com/wekan/wekan/blob/master/server/authentication.js#L116-L138) and then at [here)](https://github.com/wekan/wekan/blob/master/server/saml.js) one parameter is made available to browserside

3) Does some logount endpoint work for Wekan already, or does that need to be added someway?

4) Does login work, or do I need some fixes from RocketChat version mentioned at https://github.com/wekan/wekan/wiki/SAML ?

> 1. If SAML is enabled, is there SAML button visible at https://wekan.example.com/sign-in ? Screenshot? If not, should some button be added to https://github.com/wekan/wekan/tree/master/client/components/main layouts.jade and layouts.js ?

Hello mr.Lauri,
here is the answer for your questions ;)

**If SAML is enabled, is there SAML button visible at https://wekan.example.com/sign-in ? Screenshot? If not, should some button be added to https://github.com/wekan/wekan/tree/master/client/components/main layouts.jade and layouts.js ?**

No, enabling AD FS SAML will represent a new login page that has nothing to do with wekan login page, and no button should be added in wekan login page. I mean if SAML enabled then wekan login page will be useless.

**Does some logout endpoint work for Wekan already, or does that need to be added someway?**

logout will be declared from ADFS servers , in my case for example I'm choosing 8hours and then it'll logout the user if he is inactive.

**Does login work, or do I need some fixes from RocketChat version mentioned at https://github.com/wekan/wekan/wiki/SAML ?**
actually I don't use any third party to achieve SAML auth, I'm only using ADFS on prem + wekan 


still didn't finish this task, but as I'm an ADFS adminstrator in my Org, I answered some of your questions,

once I finish everything I'll document it for you.   

I have set up a testing environment with Azure AD. Running this:

`snap set oauth2-adfs-enabled='true'`

gives 

`error: the required argument '<conf value> (at least 1 argument)' was not provided`

I am using Wekan 4.40. Maybe the _oauth2-adfs-enabled_ settings details weren't merged into 4.40 yet?

Have it disabled on azure
Its enable for on premise adfs

Skickat från min iPhone

27 sep. 2020 kl. 13:09 skrev Peter Krantz <notifications@github.com>:

﻿

I have set up a testing environment with Azure AD. Running this:

snap set oauth2-adfs-enabled='true'

gives

error: the required argument '<conf value> (at least 1 argument)' was not provided

I am using Wekan 4.40. Maybe the oauth2-adfs-enabled settings details weren't merged into 4.40 yet?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/wekan/wekan/issues/3184#issuecomment-699620865>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AF5IX237HB2ZFA4LIK7OHV3SH4MOHANCNFSM4OB3ZFSA>.


@peterk 

Syntax:
```
sudo snap set wekan oauth2-adfs-enabled='true'
```

> Syntax:
> 
Thank you! Looked at the previous comment but didn't think to change it to include the snap app name. Embarrassing. Sorry for wasting your time. Getting another problem now but will report it in a different issue.



> Have it disabled on azure Its enable for on premise adfs 

@phaseshift3r - did you follow the [instructions here for Azure AD integration](https://github.com/wekan/wekan/wiki/Azure)? I am getting errors for "`Error in OAuth Server: Failed to get token from OIDC`" that stems from `getaddrinfo ENOTFOUND login.microsoftonline.com`. Not sure how to debug it properly.

@peterk 

Sorry about the confusion ;-)

The oauth2-adfs-enabled='true' makes wekan not use the userinfo endpoint  And instead read from any custom claims enabled in the access token..

That endpoint userinfo endpoint exist if you use azure iam sure. So have oauth2-adfs-enabled='false’ if you want wekan to query the userinfo enpoint.  Offcourse oauth2 enabled = true.  

Reading your error getaddrinfo ENOTFOUND
Seems to me that something cant be found... test the endpoints that you get from azure. Make sure dns resolving works 


Thx @phaseshift3r !  Endpoints are reachable from the server. Wekan is behind apache proxy with Let's encrypt. 

Full error is: (<my-app-id> is the real id of course)

```
{"line":"403","file":"oauth_server.js","message":"Error in OAuth Server: Failed to get token from OIDC https://login.microsoftonline.com/<my-app-id>/oauth2/v2.0/token: getaddrinfo ENOTFOUND login.microsoftonline.com","time":{"$date":1601216219695},"level":"warn"}
Exception while invoking method 'login' Error: Failed to get token from OIDC https://login.microsoftonline.com/<my-app-id>/oauth2/v2.0/token: getaddrinfo ENOTFOUND login.microsoftonline.com
    at getToken (packages/wekan-oidc.js:117:20)
    at Object.handleOauthRequest (packages/wekan-oidc.js:29:15)
    at OAuth._requestHandlers.<computed> (packages/oauth2/oauth2_server.js:10:33)
    at middleware (packages/oauth/oauth_server.js:170:5)
    at /snap/wekan/1021/programs/server/npm/node_modules/meteor/promise/node_modules/meteor-promise/fiber_pool.js:43:40
```
To me it looks like nodejs has trouble resolving the Azure AD url? I can curl it without any problems from the same machine though.

```
Key                         Value
caddy-enabled               false
oauth2-adfs-enabled         true
oauth2-auth-endpoint        /oauth2/v2.0/authorize
oauth2-client-id            <clientid>
oauth2-email-map            email
oauth2-enabled              true
oauth2-fullname-map         name
oauth2-id-map               email
oauth2-request-permissions  openid
oauth2-secret               <secret>
oauth2-server-url           https://login.microsoftonline.com/<id...>
oauth2-token-endpoint       /oauth2/v2.0/token
oauth2-userinfo-endpoint    https://graph.microsoft.com/oidc/userinfo
oauth2-username-map         email
port                        3001
root-url                    https://<a real url>
with-api                    true
```

@peterk yeah i agree with you. Cant really spot anything. 

Stumbled on this. Dont have azure my self

https://docs.microsoft.com/sv-se/azure/active-directory/develop/v2-oauth2-auth-code-flow

There seem to be another url if redirect or popup.

 



@peterk I don't know why you try to use ADFS on Azure? You should remove that setting:
```
sudo snap unset wekan oauth2-adfs-enabled
```
And then configure like at https://github.com/wekan/wekan/wiki/Azure

@xet7 Thx - leftover from other test but I still have the same errors. However, I also see that wekan receives a getaddrinfo ENOTFOUND error when I try to send a test email from within Wekan. It can not find my mailjet server. I guess something is wrong with networking for the snap. Googled for a bit ans it seems that this is an [Ubuntu DNS resolution issue affecting other snap packages](https://github.com/nextcloud/nextcloud-snap/issues/881). Other people who experience the same issue may find the link useful.

@peterk 

Thanks! I added that info to Azure wiki page.

Thank you @xet7 and @phaseshift3r for your quick responses on a Sunday! Will put some extra effort into Wekan translations.